{% extends "api/index.html" %}
{% load static %}
{% block title %}Log in{% endblock %}
{% block page_styles %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
{% block main_content %}
{% load user_filters %}
<h2 class="content-header">Login to the site</h2><br>
<div class="col-sm-10">
<form method="post" {% if action_url %} action="{% url action_url %}" {% endif %}>
    {% csrf_token %}
    <table class="main-table">
        <tr class="row-main-table">
            <td class="form-label-required"> {{ form.username.label }}* </td>
            <td class="field"> {{ form.username|addclass:'form-control' }}</td>
            <td class="form-label-required"> {{ form.password.label }}* </td>
            <td class="field"> {{ form.password|addclass:'form-control' }} </td>
        </tr>
        <tr class="row-main-table">
            <td colspan="2" class="name-error"> {% include "api/render_error.html" with list_error_of_fields=form.username %} </td>
            <td colspan="2" class="name-error"> {% include "api/render_error.html" with list_error_of_fields=form.password %} </td>
        </tr>
    </table>
    <p>* - поля обязательны к заполнению</p>
    <div class="col-sm-10">
    <button type="submit" class="btn btn-primary">Log in</button>
        <a href="{% url 'users:password_change' %}" class="btn btn-link">Fogot your password?</a>
    </div>
</form>
</div>
{% endblock %}