<!DOCTYPE html>
{% load static %}
{% load user_filters %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-TileColor" content="#000">
  <meta name="theme-color" content="#ffffff">


  <title>{% block title %}{% endblock %}</title>
</head>
{% block base_styles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block vend_styles %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
{% endblock %}
{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables/css/jquery.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables/css/select.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables/css/dataTables.dateTime.min.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables/css/responsive.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables/css/select2.css' %}">
{% endblock %}
  <body>
    <header>
      {% include 'includes/header.html' %}
      {% block header %}{% endblock %}
    </header>
    <main>
      {% block content %}
        Контент не подвезли :(
      {% endblock %}
    </main>
    <footer class="border-top text-center py-3">
        {% include 'includes/footer.html' %}
    </footer>
</body>

{% block base_scripts %}
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock %}

{% block vend_scripts %}
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/menuadaptiv.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'dataTables/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'dataTables/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'dataTables/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'dataTables/js/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'dataTables/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('table').DataTable({
            pageLength: 50,
            dom: 'lBfrtip',
            responsive: true,
            aaSorting: [],

        });

    });
</script>
{% endblock %}
