<!DOCTYPE html>
{% load static %}
{% load user_filters %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-TileColor" content="#000">
  <meta name="theme-color" content="#ffffff">
  <title>{% block title %}{% endblock %}</title>
</head>
{% block base_styles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock %}
{% block vend_styles %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
{% endblock %}
{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables/css/jquery.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables/css/select.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables/css/dataTables.dateTime.min.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables/css/responsive.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'dataTables/css/select2.css' %}">
{% endblock %}
{% block nav_bar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="nav navbar-nav" href="{% url 'api:index' %}"><span style="color:red">Aging metal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div>
    </div>
    <div class="container-fluid">
        <div id="page-nav-container" class="container page-nav-container_st">
            <nav id="pagenavbar" class="navbar-collapse collapse navbar-inverse page-nav">
                {% if user.is_authenticated %}
                <a class="nav navbar-nav" href="{% url 'users:password_change' %}">Change password</a>
                <a class="nav navbar-nav" href="{% url 'users:logout' %}">Log out</a>
                User: {{ user.username }}
                {% else %}
                <a class="nav navbar-nav
                {% if request.resolver_match.view_name  == 'users:login' %}
                active
                {% endif %}"
                   href="{% url 'users:login' %}">Log in</a>
                <a class="nav navbar-nav
                {% if request.resolver_match.view_name  == 'users:signup' %}
                active
                {% endif %}"
                   href="{% url 'users:signup' %}">Registration</a>
                {% endif %}
            </nav>
        </div>

    </div>
</nav>
{% endblock %}
{% block app_content %}
  <div class="container-fluid" style="margin-top: 50px;">
    <nav class="navbar-inverse breadcrumbs" style="margin-top: 50px;">
    </nav>
  <div class="row content-cols" style="margin-top: 50px;">
      <div class="col-xs-6 col-sm-3 sidebar">
        <div class="well">
          {% block page_sidenav %}
          <div class="img-responsive"><img src="{% static 'img/metal.jpg' %}" width="30%"/></div>
          <div>
            <div>
              <a href="{% url 'api:get_table' 'document_type' %}">Document type</a>
            </div>
            <div>
            <a href="{% url 'api:get_table' 'regulatory_document' %}">Regulatory document</a>
            </div>
            <div>
            <a href="{% url 'api:get_table' 'design' %}">Design</a>
            </div>
            <div>
            <a href="{% url 'api:get_table' 'organization' %}">Organization</a>
            </div>
            <div>
            <a href="{% url 'api:get_table' 'product_category' %}">Product category</a>
            </div>
            <div>
            <a href="{% url 'api:get_table' 'test_temperature' %}">Test temperature</a>
            </div>
            <div>
            <a href="{% url 'api:get_table' 'steel_grade' %}">Steel grade</a>
            </div>
            <div>
            <a href="{% url 'api:get_table' 'test_report_metal' %}">Test report metal</a>
            </div>
            <div>
            <a href="{% url 'api:get_table' 'assortment' %}">Assortment</a>
            </div>
            <h3>----------</h3>
            <div>
            <a href="{% url 'api:get_table' 'quality_document' %}">Quality document</a>
            </div>
          </div>
          {% endblock %}
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 maincontent">
        {% block main_content %}
        {% endblock %}
      </div>
  {% endblock %}
      <footer class="footer">
<div class="container">
    <p class="text-muted">
{% block footer %}
 <p>© {{year}} Copyright <span style="color:red">Aging</span>Metal</p>
{% endblock %}
    </p>
</div>
 </footer>
{% block base_scripts %}
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock %}
{% block vend_scripts %}
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock %}
{% block page_scripts %}
    <script src="{% static 'js/menuadaptiv.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
</script>
{% endblock %}